@import 'color';
body {
    background-color: $background-gray-color;
    .table {
        th {
            vertical-align: middle;
            width: 2rem;
        }
        td {
            div {
                border-bottom: 1px solid;
                margin-bottom: .5rem;
                &:last-child {
                    border-bottom: 0px;
                    margin-bottom: inherit;
                }
            }
        }
    }
}